.navbar {
  padding: 10px 80px;
  background: #fff;
  display: flex;
  align-items: center;
}
.navbar .navbar__logo {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.navbar .navbar__logo .navbar__logo-img {
  width: 25px;
}
.navbar .navbar__logo .navbar__logo-text {
  font-size: 20px;
  font-weight: 700;
}
.navbar .navbar__search,
.navbar .navbar__menu {
  margin-right: 20px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.navbar .navbar__menu {
  margin: 0;
}
.navbar .navbar__search:hover,
.navbar .navbar__menu:hover {
  background: #e7e7e747;
}
