table {
  background: #fff;
  border: 1px solid #eee;
  width: 100%;
  border-collapse: collapse;
}

table tr {
  border-bottom: 1px solid #cbcbcb;
}

/* TABLE HEAD */

table thead tr td {
  font-weight: 700;
  font-size: 18px;
  padding: 20px 10px;
}
/* TABLE BODY */
table tbody tr td {
  padding: 20px 10px;
}
table tbody tr td img {
  width: 25px;
  height: 25px;
  margin-right: 8px;
}

/* WIDTH OF THE TABLE DATA */
table td:nth-child(1) {
  padding-left: 25px;
  width: 70px;
}
table td:nth-child(2) {
  width: 50px;
}

table tbody td:nth-child(3) {
  text-align: left;
  display: flex;
  align-items: center;
}
table td:nth-child(3) h4 {
  margin-right: 10px;
}
table td:last-child {
  padding-right: 25px;
}

@media (max-width: 1300px) {
  table td:nth-child(8) {
    display: none;
  }
}
@media (max-width: 1200px) {
  table td:nth-child(7) {
    display: none;
  }
}
@media (max-width: 1000px) {
  table td:nth-child(9) {
    display: none;
  }
}
@media (max-width: 800px) {
  table td:nth-child(6) {
    display: none;
  }
  table td:last-child {
    display: none;
  }
}
@media (max-width: 570px) {
  table td:nth-child(2) {
    display: none;
  }
  table td:nth-child(1) {
    padding: 0 0 0 10px;
    width: 40px;
  }
  table tbody tr td {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  table td:nth-child(5) {
    display: none;
  }
}
